@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Management System</h1>
    <img src="https://img.freepik.com/free-vector/hiring-agency-candidates-job-interview_1262-18940.jpg?w=2000" alt="Emplyees image"/>
</div>
